body {
    background-image: url('r.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: IBM Plex Sans Thai;
}

.content {
    position: relative;
    padding: 20px;
    background: rgba(252, 252, 252, 0.692);
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding: 30px;
    margin: 20px auto;
    background-color: #f0f0f0;
    text-align: center;
}